* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #2e35c1;
  & h1 {
    color: #fff;
  }
  & p {
    color: #fff;
  }
}

.first {
  display: none;
}

#total {
  position: relative;
  margin: 20px auto;
  width: 200px;
  font-size: 1.6em;
}

.dicecontainer {
  margin: 50px 50px;
  width: 250px;
  text-align: center;
  float: left;
}

.resultpart {
  font-size: 3em;
  font-weight: bold;
}


.dice {
  height: 200px;
  width: 200px;
  margin: auto;
  transform-style: preserve-3d;
  transform: scale3d(0.5, 0.5, 0.5);
}

.side {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  backface-visibility: hidden;
}

.side-one {
  transform: translateZ(100px);
  background-color: blue;
}

.side-two {
  transform: translateX(-100px) rotateY(-90deg);
    background: #F6F;
}

.side-three {
  transform: translateY(-100px) rotateX(90deg);
  background: #7F8;
}

.side-four {
  transform: translateY(100px) rotateX(-90deg);
  background: #FF3345;
}

.side-five {
  transform: translateX(100px) rotateY(90deg);
  background: #DC6C7C;
}

.side-six {
  transform: translateZ(-100px) rotateX(180deg);
  background: lightblue;
}

.dot {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #000;
}

@mixin dotsecondary($top, $right) {
    position: absolute;
    content: "";
    top: $top;
    right: $right;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #000;
}

.one {
  top: 75px;
  left: 75px;
}

.two {
  top: 35px;
  right: 35px;
  &:before {
    @include dotsecondary(80px, 80px);
  }
}

.three-left {
  top: 130px;
  right: 130px;
}

.three-right {
  top: 70px;
  right: 70px;
  &:before {
    @include dotsecondary(-60px, -60px);
  }
}

.four-left {
  top: 20px;
  right: 20px;
  &:before {
    @include dotsecondary(110px, 0px);
  }
}

.four-right {
  top: 20px;
  right: 130px;
  &:before {
    @include dotsecondary(110px, 0px);
  }
}

.five-left {
  top: 25px;
  right: 125px;
  &:before {
    @include dotsecondary(99px, -101px);
  }
}

.five-right {
  top: 75px;
  right: 75px;
  &:before {
    @include dotsecondary(49px, 49px);
  }
  &:after {
    @include dotsecondary(-51px, -51px);
  }
}

.six-left {
  top: 134px;
  right: 20px;
  &:before {
    @include dotsecondary(-126px, -1px);
  }
  &:after {
    @include dotsecondary(-63px, -1px);
  }  
}

.six-right {
  top: 134px;
  right: 129px;
  &:before {
    @include dotsecondary(-63px, -1px);
  }
  &:after {
    @include dotsecondary(-126px, -1px);
  }
}
/**
* Loss
**/ 

#meem {
  width: 705px;
}

#lossjpg {
  height: 200px;
  width: 200px;
  margin: auto;
  transform-style: preserve-3d;
  transform: scale3d(0.5, 0.5, 0.5);
}

.side-loss {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  backface-visibility: hidden;
}

.side-two-l {
  transform: translateX(-100px) rotateY(-90deg) rotate(90deg);
    background: #F6F;
}

.side-three-l {
  transform: translateY(-100px) rotateX(90deg) rotate(90deg);
  background: #7F8;
}

.side-four-l {
  transform: translateY(100px) rotateX(-90deg) rotate(180deg);
  background: #FF3345;
}

.six-left-loss {
  top: 134px;
  right: 20px;
  &:before {
    @include dotsecondary(-63px, -1px);
  }
}

.six-ded {
  top: 30px;
  right: 20px;
  &:before {
    @include dotsecondary(-1px, 53px);
  }
  &:after {
    @include dotsecondary(-1px, 108px);
  }  
}

/**
* End loss
**/
@mixin rolling($keyframe) {
  animation: $keyframe 1s linear;
  animation-fill-mode: forwards;
}

.rollone {
  @include rolling(roll-one);
}

.rolltwo {
  @include rolling(roll-two);
}

.rollthree {
  @include rolling(roll-three);
}

.rollfour {
  @include rolling(roll-four);
}

.rollfive {
  @include rolling(roll-five);
}

.rollsix {
  @include rolling(roll-six);
}

@keyframes roll-one {
  0% { transform: rotate3d(1, 1, 1, 0deg) scale3d(0.5,0.5,0.5);}
  50% { transform: rotate3d(1, 1, 1, 180deg) scale3d(1.5, 1.5, 1.5);}
  100% {transform: rotate3d(1, 1, 1, 360deg) scale3d(0.5, 0.5, 0.5);}
}

@keyframes roll-two {
  0% { transform: rotate3d(1, 1, 1, 0deg) scale3d(0.5,0.5,0.5);}
  50% { transform: rotate3d(1, 1, -1, -120deg) scale3d(1.5, 1.5, 1.5);}
  100% {transform: rotate3d(1, 1, -1, -240deg) scale3d(0.5, 0.5, 0.5);}
}

@keyframes roll-three {
  0% { transform: rotate3d(1, 1, 1, 0deg) scale3d(0.5,0.5,0.5);}
  50% { transform: rotate3d(1, 1, -1, 120deg) scale3d(1.5, 1.5, 1.5);}
  100% {transform: rotate3d(1, 1, -1, 240deg) scale3d(0.5, 0.5, 0.5);}
}

@keyframes roll-four {
  0% { transform: rotate3d(1, 1, 1, 0deg) scale3d(0.5,0.5,0.5);}
  50% { transform: rotate3d(1, 1, 1, -120deg) scale3d(1.5, 1.5, 1.5);}
  100% {transform: rotate3d(1, 1, 1, -240deg) scale3d(0.5, 0.5, 0.5);}
}

@keyframes roll-five {
  0% { transform: rotate3d(1, 1, 1, 0deg) scale3d(0.5,0.5,0.5);}
  50% { transform: rotate3d(1, 1, 1, 120deg) scale3d(1.5, 1.5, 1.5);}
  100% {transform: rotate3d(1, 1, 1, 240deg) scale3d(0.5, 0.5, 0.5);}
}

/** This one is wonky as hell **/
@keyframes roll-six {
  0% { transform: rotate3d(1, 1, 1, 0deg) scale3d(0.5,0.5,0.5);}
  25% { transform: rotate3d(1, 1, 1, 180deg) scale3d(0.9, 0.9, 0.9);}
  50% { transform: rotate3d(1, 1, 1, 120deg) scale3d(1.5, 1.5, 1.5);}
  75% { transform: rotate3d(1, 1, -1, 180deg) scale3d(0.9, 0.9, 0.9);}
  100% {transform: rotate3d(1, 0, 0, -180deg) scale3d(0.5, 0.5, 0.5);}
}